@model NoticeBoard
<hr />
<div class="container ">
    <div class="raw">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    
                    Notice Date: <i>@Model.Time.ToString("dd MMMM yyyy")</i><hr />
                    Notice Description: <i>@Model.Description</i><hr />


                    <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>

                    <a class="btn btn-outline-danger" asp-action="DeleteNotice" asp-route-id="@Model.Id">Delete  </a>
                </div>


            </div>

        </div>

    </div>

</div>