<hr />
<h3>Forget Password</h3>
<hr />
<h3>Write your email </h3>
<hr />
﻿<div class="container">
    <form method="post">
        <input name="email" />
        <br />
        <span class="text-danger">
            @Html.ValidationMessage("Email")
        </span>
        <br />
        <br />
        <button type="submit">Send</button>
    </form>
</div>