@model WhyYouChoose
<hr />
<div class="container ">
    <div class="raw">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    Title: <i>@Model.Title</i><hr />
                    Description: <i>@Model.Description</i><hr />


                    <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>

                    <a class="btn btn-outline-danger" asp-action="DeleteWhy" asp-route-id="@Model.Id">Delete  </a>
                </div>


            </div>

        </div>

    </div>

</div>

