@model Bio
<hr />
<div class="container ">
    <div class="raw">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    Bio Key: <i>@Model.Key</i><hr />
                    Bio Value: <i>@Model.Value</i><hr />


                    <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>

                   
                </div>


            </div>

        </div>

    </div>

</div>