@model Subscribe
<hr />
<div class="container ">
    <div class="raw">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    Email:<i>@Model.Email</i><hr />



                    <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>

                   
                </div>


            </div>

        </div>

    </div>

</div>
