@model CourseUpdateVM
@{
    var categories = (List<Category>)ViewBag.Category;
    var languages = (List<Language>)ViewBag.Language;
}
<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Course Update Form</h4>
                    
                    <form enctype="multipart/form-data" class="forms-sample" method="post">
                        <div class="form-group">
                            <label asp-for="AboutCourseTitle">About Course Title</label>
                            <input asp-for="AboutCourseTitle" class="form-control" placeholder="About Course Title">
                            <span asp-validation-for="AboutCourseTitle" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AboutCourse">About Course</label>
                            <textarea asp-for="AboutCourse" cols="23" rows="9"></textarea>
                            <span asp-validation-for="AboutCourse" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HowtoApplyTitle">How to apply title</label>
                            <input asp-for="HowtoApplyTitle" class="form-control" placeholder="How to apply Title">
                            <span asp-validation-for="HowtoApplyTitle" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HowtoApply">How to apply</label>
                            <textarea asp-for="HowtoApply" cols="23" rows="9"></textarea>
                            <span asp-validation-for="HowtoApply" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Certification">Certification</label>
                            <textarea asp-for="Certification" cols="23" rows="9"></textarea>
                            <span asp-validation-for="Certification" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Starts">Start Date</label>
                            <input asp-for="Starts" cols="23" rows="9">
                            <span asp-validation-for="Starts" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Duration">Duration</label>
                            <input asp-for="Duration" class="form-control" placeholder="Duration">
                            <span asp-validation-for="Duration" style="color:darkred"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClassDuration">ClassDuration</label>
                            <input asp-for="ClassDuration" class="form-control" placeholder="ClassDuration">
                            <span asp-validation-for="ClassDuration" style="color:darkred"></span>
                        </div>
                        <select asp-for="LanguageId" class="form-select" aria-label="Default select example">
                            @foreach (var language in languages)
                            {
                                <option value="@language.Id">@language.Title</option>

                            }

                        </select><br />
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input asp-for="Price" class="form-control" placeholder="Price">
                            <span asp-validation-for="Price" style="color:darkred"></span>
                        </div>
                        <select asp-for="CategoryId"  class="form-select" aria-label="Default select example">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Title</option>

                            }

                        </select><br />
                        <p>
                            <img width="400" height="200" src="~/img/course/@Model.ImageUrl" alt="" />
                        </p>
                        <div class="form-group">
                            <label asp-for="Photos"></label>
                            <input asp-for="Photos" />
                            <span asp-validation-for="Photos" style="color:darkred"></span>

                        </div>

                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        
                            <a class="btn btn-outline-dark"  asp-action="index">Go Back  </a>
                        

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{

    @*@await Html.PartialAsync("_ValidationPartial");*@
    <partial name="_ValidationPartial"></partial>

}
